/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;800&display=swap');
/* font styles */
body{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
p{
    color: gray;
}
/* header styles */
.header{
    height: 420px;
    background-color:rgb(36, 36, 112);
}
.header-box{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}
.head-aling{
    width: 1160px;
height: 44px;

margin-left: 50px;

display: flex;
flex-direction: row;
}
.head-item{
    display: flex;
flex-direction: row;
align-items: flex-end;

}
.left-part a{
    margin-left: 10px;
    padding-left: 5px;
    text-decoration: none;
    color: white;
}
.fa-sign-in-alt.color{
    color: white;
}
.button-color{
    background-color: rgb(250, 72, 131);
    padding: 5px 10px;
    border: 0;
}
.button-color a{
    color: white;
    
    text-decoration: none;
    
}
.right-side{
    margin-left: 500px;
}
.header-text {
    
    width: 300px;
    height: 309px;
    
    margin-top: 30px;
}
.header-img img{
    width: 400px;
    height: 312px;
}
.image-2 img{
    width: 400px;
    height: 312px;
}
.header-img , .header-2{
    margin-top:30px ;
    padding-left: 50px;
   
}
.transform{
    width: 1000px;
    
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.transform:hover .header-img {
    transform: scale(1.2);
    transition: transform 3s;
}
.header-text .text-color{
    color: white;
}


/* players images and info */
.container{
   
    width: 1060px;
    margin-left: 100px;
    margin-top: 70px;
    background-color:#FFFFFF;
    
}
.box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 15px;
    justify-items: end;
   
    
}
.player-box{
    
    margin-left: 8px;
    width: 330px;
    height: 474px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
   
   
    
}
.player-box .player img{
    width: 320px;
    height: 227px;
}
.box-item{
    margin-left: 5px;
    margin-top: 5px;
}

/* copa-america style */
.copa-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.copa-text{
    width: 420px;
    height: 309px;
    padding-top: 40px;
    
}

.copa-box .match-img img{
    width: 567px;
height: 427px;
}
/* footer style */
.foot-sec{
    width: 483.87px;
height: 213px;
margin-left: 450px;
margin-top: 50px;

}
.foot-logo img {
    height: 70px;
}
.foot-logo{
    margin-left: 100px;
}
.social-logo{
    margin-left: 200px;
}
.small-text{
    margin-left: 150px;
}
/* media queries */
/* mobile device */
@media only screen and (max-width:688px) {
    .container{
        width: 100%;
        margin-left: 0;
    }
    .box{
        grid-template-columns: repeat(1, 1fr);
    }
    .copa-box{
        display: flex;
    flex-direction: column;
    }
    .foot-logo{
        margin-left: 0;
    }
    .social-logo{
        margin-left: 130px;
    }
    .small-text{
        margin-left: 80px;
    }
    .foot-sec{
        margin-left: 0%;
    }
    .header-box{
        display: flex;
        flex-direction: column;
        margin-left: 0;
        width: 100%;
    }
    .head-aling{
       
        display: none;
    }
    .head-item{
        display: flex;
    flex-direction: column;
    }
    .header{
        width: 100%;
        height: 100%;
    }
    .transform{
        display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: flex-start;
    }
    .header-img , .header-2{
        margin-top:0 ;
        padding-left: 0;
        width: 100%;
       
    }
    .transform:hover .header-img {
        transform: scale(1.1);
        transition: transform 2s;
    }
   
   
    .copa-box .match-img img{
        width: 100%;
    }   
} 

